<h1><%=@product.season%> <%=@product.style_number%></h1>
  
  </p><strong>Product Description</strong>
  <%=@product.description%></p>
  
  </p><strong>Image</strong>
  <%=@product.image_url%></p>

  </p><strong>Status:</strong>
  <%=@product.status%></p>
  
  </p><strong>Design Partner:</strong>
  <%=@design_partner.name%></p>

  </p><strong>Manufacture Partner:</strong>
  <%=@manufacturer_partner.name%></p>

  </p><strong>Production Partner:</strong>
  <%=@production_partner.name%></p>
  
  <%=link_to 'EDIT', 'edit_product_path(@product)'%>
  <br>
  <%=link_to 'SAMPLE REQUEST', 'new_sample_path'%>

